body {
    background-color: darkslateblue;
}

.h {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200px;
    color: hotpink;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 0px;
}

button {
    display: flex;
    align-items: center;
    margin-left: 700px;
    margin-bottom: 700px;
    padding: 30px;
}

img {
    height: 500px;
    width: 500px;
}

w {
    height: max-content;
    width: max-content;
}